COMPOSE_PROJECT_NAME=dges-collaboration

# Django intranet
DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=intranet.dges.local,localhost,127.0.0.1,192.168.100.10
INTRANET_POSTGRES_DB=intranet_dges
INTRANET_POSTGRES_USER=intranet_dges_user
INTRANET_POSTGRES_PASSWORD=change-this-intranet-db-password

# Nextcloud
NEXTCLOUD_IMAGE=nextcloud:34-apache
NEXTCLOUD_TRUSTED_DOMAINS=messagerie.dges.local
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=change-this-nextcloud-admin-password
NEXTCLOUD_POSTGRES_DB=nextcloud
NEXTCLOUD_POSTGRES_USER=nextcloud_user
NEXTCLOUD_POSTGRES_PASSWORD=change-this-nextcloud-db-password
NEXTCLOUD_PHP_MEMORY_LIMIT=1024M
NEXTCLOUD_PHP_UPLOAD_LIMIT=2G
NEXTCLOUD_APACHE_BODY_LIMIT=2147483648
NEXTCLOUD_TRUSTED_PROXIES=172.30.0.0/24

# SMTP local (optionnel)
NEXTCLOUD_SMTP_HOST=
NEXTCLOUD_SMTP_SECURE=
NEXTCLOUD_SMTP_PORT=
NEXTCLOUD_SMTP_AUTHTYPE=
NEXTCLOUD_SMTP_NAME=
NEXTCLOUD_SMTP_PASSWORD=
NEXTCLOUD_MAIL_FROM_ADDRESS=
NEXTCLOUD_MAIL_DOMAIN=

# TURN / STUN local
TURN_REALM=messagerie.dges.local
TURN_SHARED_SECRET=replace-with-a-long-random-turn-secret
TURN_PORT_MIN=49160
TURN_PORT_MAX=49200
LAN_SERVER_IP=192.168.100.10
